<div class="col-md-10 col-md-offset-1 well">
<h1>Editing Activity</h1>

<%= form_for @activity , :html => { multipart: true }, :url => admin_activity_path(@activity) do |f|%>

	<%= render :partial=>'form' , :locals => { :f => f}%>
	
	<div class="form-group">
			<%= f.submit("Update" , :class=>"btn btn-primary")%>
	</div>
<% end %>
</div>
