<div class="col-md-10 col-md-offset-1 well">
	<h1>new Activity</h1>


<%= form_for @activity , :html => { multipart: true }, :url => admin_activities_path do |f|%>

	<%= render :partial=>'form' , :locals => { :f => f} %>

	<div class="form-group">
			<%= f.submit("Create" , :class=>"btn btn-primary")%>
	</div>

<% end %>

</div>
